
.achievement-card {
    border: 2px solid #006400;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.achievement-card img {
    width: 80px;
    height: auto;
    margin-right: 15px;
    margin-top: -10px;
}

.achievement-text {
    font-weight: bold;
    margin: 0;
}

.modal-body {
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #006d42;
}

.modal-body p {
    margin-bottom: 10px;
}

.modal-body strong {
    color: #000;
    font-size: 18px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.image-and-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.millet-image {
    max-width: 100px;
    margin-bottom: 10px;
}

.text-under-image {
    font-size: 14px;
}

.seed-image,
.sorghum-image {
    max-width: 80px;
    height: auto;
    align-self: flex-start;
    margin-top: -10px;
}

.large-text {
    font-size: 2rem;
    font-weight: bold;
}

.medium-text {
    font-size: 1.2rem;
    margin: 5px 0;
}

.small-text {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

@media (max-width: 575.98px) {
    .achievement-card {
        height: auto;
        padding: 10px;
    }

    .achievement-card img {
        width: 60px;
        margin-right: 10px;
        margin-top: 0;
    }

    .large-text {
        font-size: 1.5rem;
    }

    .medium-text {
        font-size: 1rem;
    }

    .small-text {
        font-size: 0.8rem;
    }

    .modal-body {
        font-size: 14px;
    }

    .text-container {
        text-align: center;
    }

    .image-and-text {
        flex-direction: column;
    }

    .millet-image,
    .seed-image,
    .sorghum-image {
        max-width: 70px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .achievement-card {
        height: auto;
        padding: 15px;
    }

    .achievement-card img {
        width: 70px;
        margin-right: 10px;
    }

    .large-text {
        font-size: 1.75rem;
    }

    .medium-text {
        font-size: 1.1rem;
    }

    .small-text {
        font-size: 0.85rem;
    }

    .modal-body {
        font-size: 15px;
    }

    .image-and-text {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .achievement-card {
        height: 350px;
        padding: 20px;
    }

    .achievement-card img {
        width: 80px;
        margin-right: 15px;
    }

    .large-text {
        font-size: 2rem;
    }

    .medium-text {
        font-size: 1.2rem;
    }

   .small-text {
       font-size: 0.9rem;
   }

   .modal-body {
       font-size: 16px;
   
   }

   .image-and-text {
       flex-direction: row;
    
   }
}